<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="stat in stats" type="item-text-wrap" href="#/tab/stats/{{stats.id}}">

        <h2>{{stat.name}}</h2>
        <p>{{stat.subtitle}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
